@import url('./hero.css');
@import url('./nav.css');
@import url('./content.css');
@import url('./feature.css');
@import url('./informe.css');
@import url('./inicio.css');
@import url('./footer.css');
@import url('./catalago.css');
@import url('./responsivo.css');




*{
    margin: 0;
    padding: 0;
    background-origin: padding-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

div {
    padding: 0 10%;
}


a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    cursor: pointer;
}

p{
    color: #333;
}


/* ===== MENU RESPONSIVO ===== */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #000000;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #5e58d8;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .menu ul.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  /*.menu .btn {
    display: none;  botão "Contato" escondido no mobile 
  }*/
}
