.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url('../imagens1/WhatsApp\ Image\ 2025-08-21\ at\ 13.30.09.jpeg');
    background-position: center;
    background-size: cover;
    padding: 10px 0;   
    overflow: hidden;
    position: relative;
}
.hero1 {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 0;   
    overflow: hidden;
    position: relative;
}

/* animação */

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}